// Slider.module.scss

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
}

.slider-values {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  width: 100%;

  .slider-min {
    color: #777;
    font-size: 12px;
    margin-right: auto;
  }

  .slider-max {
    color: #777;
    font-size: 12px;
    margin-left: auto;
  }
}

.slider-input-container {
  position: relative;
  width: 100%;
  margin-bottom: 2px;
}

.slider-input {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  outline: none;
  opacity: 1;
  margin-top: 20px;
  transition: opacity 0.2s;
  cursor: pointer;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--color-primary);
    cursor: pointer;
    margin-top: -5px;
  }

  &::-webkit-slider-runnable-track {
    height: 10px;
    background: linear-gradient(
      to right,
      var(--color-primary) 0%,
      var(--color-primary) var(--progress-value, 0%),
      #e5e7eb var(--progress-value, 0%),
      #e5e7eb 100%
    );
    border-radius: 5px;
  }

  &::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #4c51bf;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.2s;
  }

  &::-ms-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #4c51bf;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.2s;
  }

  &:hover::-webkit-slider-thumb,
  &:hover::-moz-range-thumb,
  &:hover::-ms-thumb {
    background-color: #553c9a;
  }

  &::-moz-range-progress {
    height: 10px;
    border-radius: 5px;
    background-color: #4c51bf;
  }

  &::-ms-fill-lower {
    height: 10px;
    border-radius: 5px;
    background-color: #4c51bf;
  }
}

.slider-text-input-container {
  position: relative;
  width: 100%;
}

.slider-text-input-label {
  position: absolute;
  top: -10px;
  left: 10px;
  color: var(--color-darker-grey);
  font-size: 12px;
  background-color: white;
  padding: 0 5px;
}

.slider-text-input {
  // Add your desired styles for the text input here
  // For example:
  width: 100%;
  border: none;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-radius: 5px 5px 0px 0px;
  padding-top: 10px;
  // Add more styles as needed
}

.slider-text-input-postfix {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: 10px;
  transform: translateY(-50%);
  color: var(--color-darker-grey);
  font-size: 12px;
}

// Add any additional styles as needed
