@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --font-family: "Poppins",; */
  font-family: "Poppins";
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: var(--font-family);
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.carousel-container {
  width: 100%;
}

.carousel-image {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .carousel-image {
    max-width: calc(100% / 3);
  }
}

@media (max-width: 767px) {
  .carousel-image {
    max-width: calc(100% / 2);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.placeholder-left::placeholder {
  text-align: left;
}
