.offerCard {
    @apply rounded-xl shadow-lg border border-gray-50 pb-2 flex flex-col justify-between transition overflow-hidden;
  
    .checkboxContainer {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
  
      input[type='checkbox'] {
        // Change the checkbox color to green
        &::before {
          border-color: #00cc00;
          background-color: #00cc00;
        }
        // Change the checkmark color to white
        &:checked::after {
          background-color: black;
        }
      }
  
      .checkboxLabel {
        margin-left: 5px;
        font-size: 16px;
        color: #333333;
        font-weight: bold;
      }
    }
  }
  